<mapper namespace="com.ds.mapper.UserMapper">

    <select id="selectAll" resultType="com.ds.entity.User">
        select * from t1;
    </select>

    <select id="selectList" parameterType="com.ds.entity.User" resultType="com.ds.entity.User">
        select * from t1 where id = #{id} and name = #{name};
    </select>

    <select id="selectOne" parameterType="com.ds.entity.User" resultType="com.ds.entity.User">
        select * from t1 where id = #{id} and name = #{name};
    </select>

</mapper>